@import '../../containers/home.scss';
@import './apple.scss';
@import './basket.scss';
@import './reset.css';
@import './shakeButton.scss';
@import './tree.scss';

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
